html * {
    font-family: "Helvetica";
    /* background-color: rgb(255, 255, 125); */
}

body {
    /* background-color: yellow; */
}

.jumbotron {
    margin: 20px 0px 20px 0px;
    padding: 30px;
    font-size: smaller;
}

h2 {
    font-weight: 10px;
}

#highlighted-projects {
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 10px;
    outline-color: red;
}



.highlighted {
    color: black;
    font-size: 40px;
    background-color: rgb(190, 255, 222);
}

#name {
    font-size: 70px;
    font-weight: bold;
    margin-top: 50px;
}